
<header class="header">
  <div class="header-top">
    <div class="logo">
      <h1 class="logo-title"><a class="logo-link" href="./index.php"><img class="logo-img" src="./public/icons/logo_true_title.png" alt="SynVRea"/></a></h1>
    </div>
    <nav class="nav">
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-link" href="#">お知らせ</a></li>
        <li class="nav-li"><a class="nav-link" href="#">活動概要</a></li>
        <li class="nav-li"><a class="nav-link" href="#">サービス</a></li>
        <li class="nav-li"><a class="nav-link" href="#">メンバー</a></li>
        <li class="nav-li"><a class="nav-link" href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-main">
    <div class="header-container">
      <svg viewBox="0 0 800 600">
        <symbol id="s-text">
          <text class="text--line" text-anchor="middle" x="50%" y="35%">Elastic</text>
          <text class="text--line2" text-anchor="middle" x="50%" y="68%">Stroke</text>
        </symbol>
        <g class="g-ants">
          <use class="text-copy" xlink:href="#s-text"></use>
          <use class="text-copy" xlink:href="#s-text"></use>
          <use class="text-copy" xlink:href="#s-text"></use>
          <use class="text-copy" xlink:href="#s-text"></use>
          <use class="text-copy" xlink:href="#s-text"></use>
        </g>
      </svg>
    </div>
  </div>
  <div class="header-bottom">
    <div class="bbs">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">VRChat</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">Youtube</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">X(Twitter)</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">メディア</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">ブログ</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">Unity</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">Blender</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">VRデバイス</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">マッチング</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">メンバー募集</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">エンジニア</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">デザイナー</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">CGモデリング</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">映像制作</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">デジタル</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">AI</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">マーケティング</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">VTuber</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">DXコンサル</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">ビジネスパートナー</span></a></div>
          <div class="swiper-slide"><a class="bbs-link" href="#"><span class="bbs-tag"># </span> <span class="bbs-tag-name">ガジェット</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-side">
    <div class="side-nav">
      <button class="side-nav-menu"><i class="fa-solid fa-bars"></i></button>
      <ul class="side-nav-ul">
        <li class="side-nav-li"><a class="side-nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li class="side-nav-li"><a class="side-nav-link" href="#"><i class="fa-solid fa-tags"></i></a></li>
        <li class="side-nav-li"><a class="side-nav-link" href="#"><i class="fa-solid fa-calendar-days"></i></a></li>
        <li class="side-nav-li"><a class="side-nav-link" href="#"><i class="fa-solid fa-envelope"></i></a></li>
        <li class="side-nav-li"><a class="side-nav-link" href="#"><i class="fa-solid fa-address-card"></i></a></li>
      </ul>
      <div class="scroll-down">
        <div class="scroll-down-arrow"></div>
        <div class="scroll-down-arrow"></div>
        <div class="scroll-down-arrow"></div>
      </div>
    </div>
  </div>
</header>