- const text = 'SynVRea'
header.header
  .header-top
    div.logo
      h1.logo-title: a.logo-link(href="./index.php"): img.logo-img(src="./public/icons/logo_true_title.png" alt="SynVRea")
    nav.nav
      ul.nav-ul
        li.nav-li: a.nav-link(href="#") お知らせ
        li.nav-li: a.nav-link(href="#") 活動概要
        li.nav-li: a.nav-link(href="#") サービス
        li.nav-li: a.nav-link(href="#") メンバー
        li.nav-li: a.nav-link(href="#") お問い合わせ
  .header-main
    div.header-main-card
  .header-bottom
    .bbs
      .swiper-container
        .swiper-wrapper
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name VRChat]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name Youtube]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name X(Twitter)]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name メディア]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name ブログ]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name Unity]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name Blender]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name VRデバイス]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name マッチング]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name メンバー募集]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name エンジニア]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name デザイナー]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name CGモデリング]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name 映像制作]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name デジタル]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name AI]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name マーケティング]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name VTuber]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name DXコンサル]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name ビジネスパートナー]
          .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name ガジェット]

  .header-side
    div.side-nav
      button.side-nav-menu: i.fa-solid.fa-bars
      ul.side-nav-ul
        li.side-nav-li: a.side-nav-link(href="#"): i.fa-solid.fa-magnifying-glass
        li.side-nav-li: a.side-nav-link(href="#"): i.fa-solid.fa-tags
        li.side-nav-li: a.side-nav-link(href="#"): i.fa-regular.fa-calendar-days
        li.side-nav-li: a.side-nav-link(href="#"): i.fa-solid.fa-envelope
        li.side-nav-li: a.side-nav-link(href="#"): i.fa-solid.fa-address-card

      .scroll-down
        .scroll-down-arrow
        .scroll-down-arrow
        .scroll-down-arrow
        //- span.scroll-down-text DOWN

