-
  const config = {
    text: 'SynVRea',
    bbsTags: [
      'VRChat',
      'Youtube',
      'X(Twitter)',
      'メディア',
      'ブログ',
      'Unity',
      'Blender',
      'VRデバイス',
      'マッチング',
      'メンバー募集',
      'エンジニア',
      'デザイナー',
      'CGモデリング',
      '映像制作',
      'デジタル',
      'AI',
      'マーケティング',
      'VTuber',
      'DXコンサル',
      'ビジネスパートナー',
      'ガジェット'
    ],
    navLinks: [
      { text: 'お知らせ', href: '#' },
      { text: '活動概要', href: '#' },
      { text: 'サービス', href: '#' },
      { text: 'メンバー', href: '#' },
      { text: 'お問い合わせ', href: '#' }
    ],
    sideNavIcons: [
      { icon: 'fa-magnifying-glass', href: '#' },
      { icon: 'fa-tags', href: '#' },
      { icon: 'fa-calendar-days', href: '#' },
      { icon: 'fa-envelope', href: '#' },
      { icon: 'fa-address-card', href: '#' }
    ]
  }

header.header
  .header-top
    div.logo
      h1.logo-title: a.logo-link(href="./index.php"): img.logo-img(src="./public/icons/logo_true_title.png" alt=config.text)
    nav.nav
      ul.nav-ul
        each link in config.navLinks
          li.nav-li: a.nav-link(href=link.href) #{link.text}

  .header-main
    div.header-main-card

  .header-bottom
    .bbs
      .swiper-container
        .swiper-wrapper
          each tag in config.bbsTags
            .swiper-slide: a.bbs-link(href="#") #[span.bbs-tag # ] #[span.bbs-tag-name= tag]

  .header-side
    div.side-nav
      button.side-nav-menu: i.fa-solid.fa-bars
      ul.side-nav-ul
        each item in config.sideNavIcons
          li.side-nav-li: a.side-nav-link(href=item.href): i(class="fa-solid " + item.icon)

      .scroll-down
        .scroll-down-arrow
        .scroll-down-arrow
        .scroll-down-arrow
        //- span.scroll-down-text DOWN
