main.main
  section.section#hero
    video.dark-filter(src="./public/movies/synvrea_hero_movie.mp4" autoplay muted loop playsinline)

  section.section#news
    div.section-title
      h2.section-main-title NEWS
      span.section-sub-title お知らせ
    div.news-content
      button.section-button: a.section-button-link(href="#") 記事一覧はこちら

  section.section#about
    div.section-title
      h2.section-main-title ABOUT
      span.section-sub-title SynVReaについて
      div.about-content
        p.about-content-text SynVRea（シンヴリア）」は、「Synergy × VR × Real」を理念に掲げ、VRとリアルの世界をシームレスにつなぐことで、新たな価値と体験を生み出すプロジェクトです。#[br]私たちは、VR技術を活用した革新的なコンテンツやプラットフォームの開発を通じて、人々の可能性を拡張し、より多くの挑戦やワクワクを届けたいと考えています。#[br]ゲームやエンターテインメントの枠を超えた様々な領域で、VRとリアルの相乗効果を最大化し、未来への一歩を踏み出すきっかけを創造していきます。
    div.news-content
      button.section-button: a.section-button-link(href="#") SynVReaの詳細はこちら

  section.section#member
    div.section-title
      h2.section-main-title MEMBER
      span.section-sub-title メンバー
    div.news-content
      button.section-button: a.section-button-link(href="#") メンバー一覧はこちら