script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js")
script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")

script(src="./src/js/scroll.js")
//- script(src="./src/js/cursor.js")
script(src="./src/js/swiper.js")
script(src="./src/js/mouse-stalker.js")

