.news-content, .about-content, .member-content
  width 100%

nav
  display flex
  justify-content center
  height auto


.footer
  height 25vh
  margin 2rem 0

.footer-nav
  margin-bottom 2rem
.section-button
  width auto
  padding 0.4rem 1rem
  display flex
  justify-content center
  margin 2rem auto 0
  .section-button-link
    font-size 0.8rem

.body
  .cursor
    display none
  .header
    position relative
    width 100%
    height 6vh
    .header-top
      display none
    .header-main
      display none
    .header-side
      .side-nav
        position relative
        top 0
        width 100%
        height 6vh
        align-items end
        .side-nav-menu
          width 2rem
          height 1.7rem
          margin 0.5rem
          padding-left 0.15rem
          i
            font-size 1rem
        .side-nav-ul
          display none
        .scroll-down
          display none
    .header-bottom
      display none
  .main
    width 100%
    .section
      width 100%
      height 100%
      margin 0
      .section-title
        .section-main-title
          font-size 2rem
        .section-sub-title
          font-size 0.7rem
    #hero
      .dark-filter
        width 100%
    #news
      margin-top 3rem
      .news-content
        width 100%
        .section-button
          width auto
          padding 0.4rem 1rem
          display flex
          justify-content center
          margin 2rem auto 0
          .section-button-link
            font-size 0.8rem
        .article-wrapper
          .article
            display flex
            flex-direction column
            .article-date
              font-size 0.6rem
            .article-title
              font-size 0.6rem

    #about
      margin-top 3rem
      .about-content
        width 100%
        .about-content-text
          width 90%
          font-size 0.7rem
          margin 2rem auto 0
        .section-button
          width auto
          padding 0.4rem 1rem
          display flex
          justify-content center
          margin 2rem auto
          .section-button-link
            font-size 0.8rem
    #member
      margin-top 3rem
      .member-content
        width 100%
        .section-button
          width auto
          padding 0.4rem 1rem
          display flex
          justify-content center
          margin 2rem auto 0
          .section-button-link
            font-size 0.8rem
        .member-card-wrapper
          width 100%
          flex-direction column
          margin 0 auto
          .member-card
            width 100%
            height 12rem
            .member-card-image-wrapper
              transform scale(0.7)
            .member-content-name
              position relative
              top -1rem
              font-size 0.8rem
            .member-content-role
              position relative
              top -0.5rem
              font-size 0.5rem

.video-container
  height 30vh


